html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    top: 0;
}

.nav-brand {
    font-size: 20px;
    font-weight: 800;
}
nav {
    display: flex;
    border: 4px solid #000;
    padding: 10px;
    margin: 10px 10px; 
}
.navigation-menu {
   margin-left: auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
li{
    padding-right: 20px;
}
li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

h1{
    margin: 30px 0;
}
table{
   width: 90%;
    border: 3px solid rgb(29, 25, 25);
    padding: 10px;  
}
tr {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    font-weight: 700;  
}
button {
    border: 3px solid #000;
    box-shadow: 3px 5px #000;
    padding: 5px 10px;
}
input {
    border: 3px solid #000;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-weight: 600;
    color: #000;
}

p {
    color: #000;
    font-weight: 700;
    padding: 5px 10px;
}

ul.contact-text{
    margin-left: 80px;
    font-weight: 900;
}

.container {
    display: none;
   
}
.container.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
}
.container{
    position: relative;
}
footer {
    border: 3px solid #000;
    margin-bottom: 0;
    
 }


