html {
    box-sizing: border-box;
    min-height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    top: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.books-container {
    margin-top: 100px;
}

.display-books {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    border: 2px solid rgb(29, 25, 25);
    padding: 10px;

}

thead {
    text-align: center;
}

tbody {
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-between;
    gap: 105px;
}

td {
    margin-top: 10px;
}

hr {
    margin-bottom: 30px;
}

#add-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    width: 100%;
}

.form-heading {
    margin-bottom: 15px;
}

.form-heading h1 {
    text-align: center;
}

.input-fields-container {
    width: 100%
}

input {
    width: 100%;
    height: 100%;
    padding: 5px;
}

#addBtn {
    width: 25%;
    padding: 5px;
    margin-left: 75%;
}